div#card {
  width: 250px;
  height: 320px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  padding: 2rem;

  border-radius: 1rem;
}

div#card .img-zoom {
  overflow: visible;
}

div#card .img-zoom img {
  transition: all .5s;
}

div#card .img-zoom:hover img {
  transform: scale(1.2);
} 

div#card p {
  color: inherit;
  font-size: 1.4rem;
}