@import "global.css";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --green: #19BA3C;
}

header {
    width: 100%;
    padding: 1rem 0;
    background: #E2FEE8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.special {
    fill: var(--green);
}

header section {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section figure svg {
    width: 377px;
    height: 273px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h1 {
    font-size: 38px;
    color: #19BA3C;
}

aside h4 {
    margin-top: 0.4rem;
    font-size: 26px;
    color: #124D1F;
    font-weight: normal;
}

header aside a {
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    background: #19BA3C;
    width: 100%;
    font-size: 22px;
    opacity: 0.5;
    padding: 1.4rem 0;
    transition: .2s;
    cursor: pointer;
}

header aside a:hover {
    opacity: 1;
}

main {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

main aside ul li:first-child {
    list-style-type: none;
}

main aside ul li:first-child span {
    display: none;
}

main aside ul {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

main aside ul li:not(li:first-child) {
    padding: 0.4rem 1.2rem;
    list-style-type: disc;
    opacity: 0.5;
    align-self: flex-end;
    transition: .2s;
    cursor: pointer;
    margin: 0.6rem 0;
    font-size: 1.2rem;
}

main aside ul li:not(li:first-child):hover {
    opacity: 1;
}

main aside ul li:not(li:first-child)::marker {
    color: var(--green);
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main h1 {
    text-align: center;
}

main .card {
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E2FEE8;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    transition: .2s;
    cursor: pointer;
    user-select: none;
    pointer-events: visible;
}

.card:hover {
    opacity: 1;
}

.card img {
    pointer-events: none;
}


@media (max-width: 768px) {
    header section {
        flex-direction: column-reverse;
    }

    header section aside,
    header section figure {
        margin: 2rem 0;
    }
}

@media (max-width: 475px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    main aside ul {
        display: none;
    }
}

@media (max-width: 425px) {
    header section figure svg {
        width: 200px;
        height: 145px;
    }

    aside h1 {
        font-size: 30px;
    }
 
    aside h4 {
        font-size: 20px;
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: #E2FEE8;
}

footer .logo {
    margin-bottom: 1rem;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    color: #19BA3C;
}